body{
    background-color: #cae4db;
}
hr{
    
    border-color: grey;
    border-style:none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;  
}
h1,h2{
    color: #66BFBF;
}
